
.brand-name {
  padding: 2px; 
  background-color:burlywood; 
  color:black; 
  border-radius: 10px;

}

.search-input {
  padding: 5px; 
  border-radius: 10px; 
  border-color: burlywood;
}

.btn {
   padding: 5px; 
  border-radius: 10px; 
  background-color: burlywood; 
  font-weight: bold; 
  float: right;
} 

.product-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
  width: 200px;
  text-align: center;
  display: inline-block;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.product-card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}
 
h3 {
  padding: 2px;
  background-color: burlywood;
  border-radius: 10px;
  font-size: small;
}




