
.brand-name {
  padding: 2px; 
  background-color:burlywood; 
  color:black; 
  border-radius: 10px;
  text-decoration-line: underline;
}

.welcome-text {
  padding: 2px;
  color: burlywood;
  float: right;
  font-weight: bold;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 8px; /* space between input and button */
  margin: 10px 0;
}

.search-input {
  padding: 5px; 
  border-radius: 10px; 
  border-color: burlywood;
  width: 25%;
}

.search-btn {
  padding: 8px 16px;
  border: none;
  background-color: burlywood;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.subscribe-btn {
  padding: 8px 16px;
  border: none;
  background-color: burlywood;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.subscribe-btn:hover {
  background-color: peru; 
}

.search-btn:hover {
  background-color: peru;
}

.btn {
  padding: 5px; 
  border-radius: 10px; 
  background-color: burlywood; 
  font-weight: bold; 
  float: right;
} 

.category {
  color: burlywood;
  font-size:x-large;
  font-family: 'Times New Roman';
}

.product-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
  width: 200px;
  text-align: center;
  display: inline-block;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.product-cont{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-card img {
  width: 100%;
  height: 200px;
  border-radius: 5px;
  margin-bottom: 10px;
}
 
h3 {
  padding: 2px;
  border-radius: 10px;
  font-size: small;
}

.login {
  font-weight: bold;
}

.login-btn {
  padding: 5px; 
  border-radius: 10px; 
  background-color: burlywood; 
  font-weight: bold; 
}

.hero-side {
  flex: 2; /* take less space */
  background: url('images/banner.jpg') no-repeat center center/cover;
  color: burlywood;
  padding: 30px;
  border-radius: 8px;
  border-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.hero-side h2 {
  font-size: 34px;
  margin-bottom: 10px;
}

.hero-side p {
  margin-bottom: 10px;
}